.loginLayout {
  width: 100%;
  height: 1050px;
  text-align: center;
  padding-top : 180px;
  background: url('img/bg_login.png') no-repeat center;
  background-size: cover;
  font-family: 'Noto Sans KR', sans-serif;
}

.loginMain {
	margin-left: auto;
	margin-right: auto;
	width : 420px;
	height: 600px;
}

.loginLogo {
	width : 45px;
	height: 38px;
	margin : 0px auto 25px auto;
	background : url('img/login_emblem.png') no-repeat center;
}

.loginContent {
	background-color: #ffffff;
	width : 100%;
	height: 450px;
	padding-top : 40px;
}

.loginTitle {
  width: 67px;
  height: 45px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.7px;
  text-align: left;
  color: #333333;	
}

.loginFormBox {
	width : 330px;
	margin-left: auto;
	margin-right: auto;
	margin : 10px auto 20px auto;
}

.loginButtonLayout {
	width : 330px;
	margin-left: auto;
	margin-right: auto;
	margin : 10px auto 20px auto;	
}

.loginFindLayout {
	margin-top :35px;
}

.loginCopy {
  width: 350px;
  height: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: center;
  color: #cfdfe8;	
  margin : 20px auto 0px auto;
}

@media (max-width : 768px) {
.loginLayout {
  height: 850px;
  padding-top : 40px;
}

.loginMain {
  width : 300px;
  height: 600px;
}


.loginContent {
  background-color: #ffffff;
  width : 100%;
  height: 450px;
  padding-top : 25px;
}

.loginTitle {
  font-size: 20px;
}

.loginFormBox {
  width : 100%;
  margin : 10px auto 20px auto;
}

.loginButtonLayout {
  width : 100%;
  margin : 10px auto 20px auto; 
}

.loginCopy {
  width: 90%;
  font-size: 13px;
}
}