@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notice{
  margin-top: 18px;
  text-align: center;
  width: 45px;
  height: 23px;
  padding-top: 3px;
  border: 2px solid #164f91;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #666;
  float : left;
}
.noticeFont{
  width: 28px;
   height: 16px;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 16px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: 4.13;
   color: #ffffff;
}


.noticeContentTitle {
  width: 450px;
  padding-top: 16px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.9;
  padding-bottom: 10px;
  text-align: left;
  color: #333333;
  float: left;
}


.noticeContentDate {
  margin-right: 13px;
  font-size: 15px;
  line-height: 4.4;
  text-align: right;
  color: #9b9b9b;
  float: right;
}


  .notice{
    margin-top: 12px;
    width: 60px;
    height: 22px;
    padding-top: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
  }
  .noticeFont{
    width: 22px;
     height: 16px;
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 13px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: 2.63;
     color: #ffffff;
  }

.noticeListLayout {
  padding-top: 70px;
  margin-top: 57px;
  padding-bottom : 100px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f9f9f9;
  font-family: 'Noto Sans KR', sans-serif;
}

.noticeListMain {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: #ffffff;
  border: solid 1px #dedede;
  text-align: center;
}

.noticeListTitle {
  font-size: 28px;
  line-height: 28px;
  margin-top: 50px;
  letter-spacing: -0.7px;
  color: #333333;
  margin-bottom: 46px;
}

.noticeListContent {
  margin-left: auto;
  margin-right: auto;
  width: 646px;
  border-top:2px solid #555;
  height: auto;
}

.noticeListTable {
  text-align: left;
  width: 646px;
  height: auto;
  border-bottom:1px solid #dedede;
}

.noticeLists {
  text-align: left;
  width: 646px;
  height: 66px;
  border-bottom:1px solid #dedede;
}

.noticeContentNumber {
  width: 60px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top:16px;
  color: #164f91;
  float : left;
}


.noticeContentTitle {
  width: 450px;
  padding-top: 16px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.9;
  padding-bottom: 10px;
  text-align: left;
  color: #333333;
  float: left;
}

.noticeBtnLayout {
  width: 100%;
  height: 100px;
  padding-bottom : 52px;
}

.noticeMoreBtn {
  margin-top: 48px;
  width: 646px;
  height: 51px;
  border:1px solid #dedede;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 2.39;
  color: #5f5f5f;
}


@media only screen and (max-device-width: 768px){

.noticeListLayout {
  padding-top:32px;
}

.noticeListMain {
  width: 95%;
}

.noticeListTitle {
  font-size: 22px;
  line-height: 11px;
  margin-top: 48px;
  height: 20px;
}


.noticeListContent {
  margin-top:0px;
  height: 850px;
  width: 95%
}


.noticeListTable {
  width: 100%;
  height: auto;
}
.noticeLists {
  width: 100%;
  height: 55px;
}



.noticeContentTitle {
  text-align: left;
  line-height: 1.87;
  width: 65%;
  font-size: 12px;
  padding-top: 16px;
}


.noticeContentDate {
  width: 120px;
  font-size: 13px;
  letter-spacing: -0.5px;
}


.noticeBtnLayout {
  width: 100%;
  height: 100px;
}

.noticeMoreBtn {
  margin-top: 55px;
  width: 90%;
  height: 42px;
  font-size: 15px;
}


}
