
@import url( "https://fonts.googleapis.com/earlyaccess/notosanskr.css" );
.companyHistoryDay {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  width : 150px;
  text-align: left;
  float: left;
  color: #18559c;
}

.companyHistoryDetail {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  width : 750px;
  height: auto;
  line-height: 1.5;
  text-align: left;
  float : left;
  color: #3c3c3c;
}

@media (min-width:768px) and (max-width: 1024px){

.companyHistoryDay {
  font-size: 18px;
  line-height: 28px;
  width : 20%;
}

.companyHistoryDetail {
  font-size: 18px;
  width : 79%;
  line-height: 28px;
}


}

@media (max-width: 768px){

.companyHistoryDay {
  font-size: 14px;
  line-height: 28px;
  width : 22%;
  margin-left: auto;
  margin-right: auto;
}

.companyHistoryDetail {
  font-size: 14px;
  width : 70%;
  line-height: 28px;
  margin-right: auto;
}


}
