<?php include('../include/incTop.php'); ?>
<body>
<?php include('../include/incHeader.php'); ?>


<div class="companyLayout">
	<div class="companyMain">
		<div class="companyInfoLayout">
			<div class="companyInfoTitle1">
				Alternative Asset Investment Platform
			</div>
			<div class="companyInfoDetail">
			대체투자 자산에 대한 전문적 식견과 분석능력을 가지고 <br>누구나 참여해서 수익을 거둘 수 있는 P2P 투자상품을 만들었습니다.
			</div>

		</div>
		<div class="companyInfoValuesLayout">
			<div class="companyLayoutTitle">BEYOND VALUES</div>
			<div class="companyTitlebar"></div>
			<div class="companyInfoLayout2">
				<div class="companyDetailBox1">
					<div class="companyDetailBoxTitle">Investment for All</div>
					<div class="companyDetailBoxSub">비욘드팀은 이제 P2P(Peer to Peer)플랫폼을 통해 보통 사람들도 보다 더 쉽게 소액으로도 투자가 가능한 시대가 왔다고 믿습니다.</div>
					<div class="companyDetailBoxSubM">비욘드팀은 이제 P2P(Peer to Peer)플랫폼을 통해 보통 사람들도 보다 더 쉽게 소액으로도 투자가 가능한 시대가 왔다고 믿습니다.</div>
				</div>
				<div class="companyDetailBoxImg1"></div>
			</div>
			<div class="companyInfoLayout2">
				<div class="companyDetailBox2">
					<div class="companyDetailBoxTitle">Financial Expert</div>
					<div class="companyDetailBoxSub">금융은 고객의 소중한 ‘돈’을 다루는 업종이기 때문에 다른 어떤 분야
보다도 수준 높은 전문성이 요구됩니다. 비욘드팀은 회계법인, 은행, 캐피탈에서 도합 수십 년 간의 금융 커리어를 보유한 최고의 금융전
문가 집단으로 구성되어 있습니다.</div>
					<div class="companyDetailBoxSubM">금융은 고객의 소중한 ‘돈’을 다루는 업종이기 때문에 다른 어떤 분야
보다도 수준 높은 전문성이 요구됩니다. 비욘드팀은 회계법인, 은행, 캐피탈에서 도합 수십 년 간의 금융 커리어를 보유한 최고의 금융전
문가 집단으로 구성되어 있습니다.</div>
				</div>
				<div class="companyDetailBoxImg2"></div>
			</div>
			<div class="companyInfoLayout2">
				<div class="companyDetailBox1">
					<div class="companyDetailBoxTitle">Ownership &amp; Responsibility</div>
					<div class="companyDetailBoxSub">비욘드팀은 고객의 소중한 자산을 보호하는 것을 가장 중요한 가치로 
생각합니다. 투자 심사부터 현금흐름 보호까지 모든 부분에서 막중한 책임감을 가지고 꼼꼼하게 살피겠습니다.</div>
					<div class="companyDetailBoxSubM">비욘드팀은 고객의 소중한 자산을 보호하는 것을 가장 중요한 가치로 
생각합니다. 투자 심사부터 현금흐름 보호까지 모든 부분에서 막중한 책임감을 가지고 꼼꼼하게 살피겠습니다.</div>
				</div>
				<div class="companyDetailBoxImg3"></div>
			</div>
			<div class="companyInfoLayout2">
				<div class="companyDetailBox2">
					<div class="companyDetailBoxTitle">Data Oriented</div>
					<div class="companyDetailBoxSub">금융의 기본은 데이터에 기반한 통계적인 예측입니다. 데이터에 기반한
심사 시스템으로 투자상품의 안정성을 검증하겠습니다.</div>
					<div class="companyDetailBoxSubM">금융의 기본은 데이터에 기반한 통계적인 예측입니다. 데이터에 기반한
심사 시스템으로 투자상품의 안정성을 검증하겠습니다.</div>
				</div>
				<div class="companyDetailBoxImg4"></div>
			</div>
		</div>

		<div class="companyInfoLayout3">
			<div class="companyLayoutTitle">BEYOND TEAM</div>
			<div class="companyTitlebar"></div>
			
			<div class="companyTeamDetail">
				비욘드 팀은 컨설팅 및 회계법인, 은행 및 캐피탈, 대기업 출신의 전략, 재무, 회계, 금융, 여신, 마케팅 분야에서 다년 간의 경험을 쌓은 실력 있는 전문가들로 구성되어 있습니다.
			</div>

			<div class="companyTeamLayout">

				<div class="companyPeopleDetail" >
					<div class="companyDetailGroup">
						<div class="companyDetailImg1"></div>
						<div class="companyDetailName">서 준 섭</div>
						<div class="companyDetailPosition">대표이사</div>
					</div>
					<div class="companyDetailMessage">
						<div class="companyMessageTitle">"써티컷, 대한민국 금융사에 한 획을 긋겠습니다"</div>
						<div class="companyMessageContent">서준섭 대표이사는 PWC 컨설팅, 삼일회계법인에서 파트너로 근무하였습니다.<br>
금융분야 전문 컨설팅으로 커리어를 쌓아왔으며, 서민 금융 및 마이크로크레딧 분야의 전문성과 함께
국민행복기금, 한마음(前 신용회복위원회), 국민주택기금, 정부기금운용평가단 등 정부기관의 자문위원을 다년 간 수행하였습니다.<br><br>

핀테크 기술로 건강한 서민 금융 발전과 가계부채 문제 해소에 기여할 수 있다는 믿음으로 30CUT을 창업하게 되었습니다.</div>
					</div>
					<div class="companyCloseBtn" ng-click="close()"></div>
				</div>
				<div class="companyPeopleDetail" >
					<div class="companyDetailGroup">
						<div class="companyDetailImg2"></div>
						<div class="companyDetailName">정 원 석</div>
						<div class="companyDetailPosition"><span style="font-weight:400px;">팀장 |</span> 재무팀</div>
					</div>
					<div class="companyDetailMessage">
						<div class="companyMessageTitle">"써티컷, 대한민국 금융사에 한 획을 긋겠습니다"</div>
						<div class="companyMessageContent">정원석 팀장은 삼일회계법인 Deal Business 부서에서 근무하였습니다.<br>
저축은행 도산 당시 인수실사, 국민행복기금 자문, 기업 인수합병실사 업무 등을 수행하였습니다. <br>
또한 일반담보부채권, PF채권 등 부실채권에 대한 평가 및 자문 업무, 사업타당성 검토 업무 등을 수행하였습니다.<br><br>

변화된 금융으로 가계부채 해결에 기여하고자 합니다.
					</div>
				</div>
				<div class="companyCloseBtn" ng-click="close()"></div>
			</div>

				<div class="companyPeopleDetail" >
					<div class="companyDetailGroup">
						<div class="companyDetailImg3"></div>
						<div class="companyDetailName">이 연 정</div>
						<div class="companyDetailPosition"><span style="font-weight:400px;">팀장 |</span> 여신운용팀</div>
					</div>
					<div class="companyDetailMessage">
						<div class="companyMessageTitle">"써티컷과 함께 '진짜' 가치를 찾는 금융을 만들겠습니다."</div>
						<div class="companyMessageContent">
							이연정 팀장은 삼성SDS를 거쳐 KEB하나은행에서 재직하면서 RISK MANAGEMENT, Credit Scoring System 운용, 여신 ERP 운영, 기업금융 등의 업무를 담당하였습니다.
							<br><br>
							금융혁명이라는 일컬어지는 新금융, P2P의 새로운 역사에 동참하고 싶어서 30CUT 프로젝트에 함께 하게 되었습니다.
						</div>
					</div>
				  <div class="companyCloseBtn" ng-click="close()"></div>
				</div>

				<div class="companyPeopleDetail">
					<div class="companyDetailGroup">
						<div class="companyDetailImg4"></div>
						<div class="companyDetailName">이 승 준</div>
						<div class="companyDetailPosition"><span style="font-weight:400px;">팀장 |</span> 서비스기획팀</div>
					</div>
					<div class="companyDetailMessage"style="margin-top: 50px;">
						<div class="companyMessageTitle">"핀테크의 힘, 써티컷에서 피우다."</div>
						<div class="companyMessageContent">JT금융그룹에 재직하며 신용대출 채권평가, 신사업분석, 신규 비지니스모델 개발, 신용평가모형 개발, RISK MANAGEMENT, 기업합병에 따른 사업분석등의 업무를 담당하였습니다.<br>
SC캐피탈, SC저축은행, 친애저축은행, 하이캐피탈등의 계열사 리빌딩 프로젝트를 진행하였습니다.<br><br>

 "새로운 금융이 새로운 세상을 만든다." 는 소명아래 서민금융 전문가인 서준섭 대표님,30CUT가족들과 함께 세상을 바꿔보고 싶었습니다.<br>
대한민국 국민에 의한 국민을 위한 새로운 금융을 만드는 첫번째 방법 써티컷 이제 시작해보려고 합니다.
					</div>
				</div>
				<div class="companyCloseBtn"></div>
			</div>
 
				<div class="companyPeopleLeft">
					<div class="companyPeopleImg1"></div>
					<div class="companyPeopleName">서 준 섭
					<div class="companyPeoplePosition">대표이사</div></div>
					<div class="companyPlusImg"></div>
				</div>


				<div class="companyPeopleLeft" >
					<div class="companyPeopleImg2"></div>
					<div class="companyPeopleName">정 원 석
					<div class="companyPeoplePosition">
					<span class="companyPeoplePosition2">팀장</span>
					<span class="companyPeoplePosition2">|</span>
					재무팀</div></div>
					<div class="companyPlusImg"></div>
				</div>

				<div class="companyPeopleLeft" >
					<div class="companyPeopleImg3"></div>
					<div class="companyPeopleName">이 연 정
					<div class="companyPeoplePosition">
					<span class="companyPeoplePosition2">팀장</span>
					<span class="companyPeoplePosition2">|</span>여신운용팀</div></div>
					<div class="companyPlusImg" ></div>
				</div>

				<div class="companyPeopleLeft">
					<div class="companyPeopleImg4"></div>
					<div class="companyPeopleName">이 승 준
					<div class="companyPeoplePosition">
					<span class="companyPeoplePosition2">팀장</span>
					<span class="companyPeoplePosition2">|</span>서비스기획팀</div></div>
					<div class="companyPlusImg"></div>
				</div>

		</div>
		<div style="height:50px;"></div>
		<div class="companyDetailSpace" ng-show ="member1==true || member2==true || member3==true|| member4==true|| member5==true|| member6==true" ></div>
		</div>

		<div class="companyInfoLayout4">
			<div class="companyLayoutTitle">BEYOND HISTORY</div>
			<div class="companyTitlebar"></div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2015. 10. 1</div>
				<div class="companyHistoryDetail">비욘드플랫폼서비스 창업</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2015. 12. 8</div>
				<div class="companyHistoryDetail">빅데이터 기반 신용카드 대환 신용평가 모형 개발</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2016. 2. 17</div>
				<div class="companyHistoryDetail">30CUT-NH론 공동 개발을 위한 업무협약 체결 (NH농협은행)</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2016. 3. 8</div>
				<div class="companyHistoryDetail">빅데이터 및 머신 러닝 기반 비정형 신용평가 모형 공동 개발을 위한 산학협력 제휴 체결<br> (서강대학교 스마트 핀테크 연구센터)</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2016. 4. 21</div>
				<div class="companyHistoryDetail">벤처기업 인증(기술보증기금, 빅데이터 기반 신용카드 대환 신용 평가 모형에 대한 기술 인증)</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2016. 5. 31</div>
				<div class="companyHistoryDetail">농협은행 제휴 P2P사업모델에 대한 금융위원회 부수업무 승인</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2016. 11. 16</div>
				<div class="companyHistoryDetail">농협은행 제휴 P2P 대출상품 NH 30CUT론 약관승인(금융감독원)</div>
			</div>
			<div class="companyHistoryLayout">
				<div class="companyHistoryDay">2017. 2. 1</div>
				<div class="companyHistoryDetail">비욘드펀드 런칭</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$(".companyPeopleDetail").hide();
	$(".companyDetailSpace").hide();
	var flag = false;
	var index = -1;

	$(".companyPeopleLeft").click(function() {

		if (flag == true) {
			$(".companyPeopleDetail:eq(" + index + ")").hide();
			$(".companyPeopleLeft:eq(" + index + ")").show();					
		}

		index = $(".companyPeopleLeft").index(this);

		$(".companyPeopleDetail:eq(" + index + ")").show();
		$(".companyPeopleLeft:eq(" + index + ")").hide();
		$(".companyDetailSpace").show();
		flag = true;
	});

	$(".companyCloseBtn").click(function() {
		var index = $(".companyCloseBtn").index(this);
		console.log(index);
		$(".companyPeopleDetail:eq(" + index + ")").hide();
		$(".companyPeopleLeft:eq(" + index + ")").show();		
		$(".companyDetailSpace").hide();
		flag = false;
	});
});
</script>        
<?php include('../include/Footer.html'); ?>